body{
   /* background-color: #154c79;*/
}
.MainMenu{
    border: 1px solid #61dafb;
    background-color: white;
    width: auto;
    height:auto ;
    min-height: 100px;
    float: right;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: #282c34 0px 5px 20px 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 2px;
}
.MainMenu:first-child {
    border-top-left-radius: 20px;
}
.MainMenu:last-child {
    border-bottom-left-radius: 20px;
}
.MenuGroup{
    background-color: #FFFFFF;
}
.MenuGroupIcon{
 /*   width: 50px;
    height: 50px;*/
    margin: 10px;
    cursor: pointer;
}
.MenuGroup:hover{
    background-color: #eeb78e;
    transition: background-color 0.2s linear
}
/*.MenuGroup:hover .MenuItem{

}
.MenuGroup:focus .MenuItem{
    !*display: block;*!
    visibility: visible;
    opacity:1;
    transition: visibility 0.8s linear,opacity 0.8s linear;
}

.MenuItem{
    position: absolute;
    right: 50px;
    top: 0px;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    opacity:0;
    visibility: hidden;
    !*display: none;*!
}*/
.MenuItem {
    position: absolute;
    right: 50px;
    top: 0px;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    /*opacity: 0;
    visibility: hidden;*/

    /*display: none;*/

}
.MenuItem_show{
    display: block;
    opacity: 1;
    visibility: visible;
}
.MenuItem_hide{
    opacity: 0;
    visibility: hidden;
    display: none;
}